<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.7.4" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net472" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net472" />
  <package id="Twilio" version="5.65.2" targetFramework="net472" />
  <package id="upwi.ExcelDataReader" version="3.6.0" targetFramework="net472" />
</packages>